@model InterventionManagementSystem_MVC.Areas.Accountant.Models.AccountantViewModel

<h3> Accountant System</h3>
<hr />


<div class="row form-group">
    <div class="col-md-4">
        Accountant:
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>